PORT=POST_NUM
DATABASE_URL=postgresql://postgres:pass@localhost:5432/dbname
MONGO_URI=mongodb://localhost:27017/db
JWT_SECRET_KEY=superDuplexDromosPassKey$15071501

# AamarPay Configuration
AAMARPAY_STORE_ID=aamarpaytest
AAMARPAY_SIGNATURE_KEY=dbb74894e82415a2f7ff0ec3a97e4183
AAMARPAY_MODE=sandbox
AAMARPAY_CALLBACK_URL=http://localhost:3000/api/v1/payment/callback
FRONTEND_URL=http://localhost:8080