PORT=POST_NUM
DATABASE_URL=postgresql://postgres:pass@localhost:5432/dbname
MONGO_URI=mongodb://localhost:27017/db
JWT_SECRET_KEY=superDuplexDromosPassKey$15071501

VERIFY_API='curl -X GET "http://localhost:3000/api/v1/auth/studentship/qVUEC1BA34ne1Ifnu?reg_id=2022016304"'

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:8080