.logo-right-blink {
    animation: blink-right 1.5s infinite ease-out;
}

@keyframes blink-right {

    0%,
    100% {
        border-right: 5px;
        border-color: #686aff;
        border-style: solid;
    }

    50% {
        border-right: 5px;
        border-color: transparent;
        border-style: solid;
    }
}